@charset "UTF-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background-image: url(../images/body-bg.png);
}
html, body {
	height: 100%;
}
header{
	width: 100%;
	background-color: #FF628f;
	background-image: url(../images/header-bg.png);
	background-position: 50% 50%;
	border-top: #20567d 10px solid;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 10;
}
.header-contents{
	box-sizing:border-box;
	max-width: 960px;
	margin: 0 auto;
	min-height: 100px;
	background-image: url(../images/header-logo.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
}
.header-contents h1,
.header-contents h2{
	margin: 0;
	color: #fff;
	line-height: 1;
}
.header-contents h1{
	padding: 30px 0 10px 85px;
	font-size: 24px;
}
.header-contents h2{
	padding: 0 0 0 85px;
	font-size: 14px;
	font-weight: normal;
}
.main-wrapper{
	position: relative;
	box-sizing:border-box;
	max-width: 960px;
	margin: 0 auto;
	padding:30px 30px;
	background-color: #fff;
	border-left: #dadada 1px solid;
	border-right: #dadada 1px solid;
	min-height: 80%;
	min-height: calc(100% - 200px);
}
footer{
	box-sizing:border-box;
	max-width: 960px;
	margin: 0 auto 10px auto;
	padding:15px 30px;
	background-color: #23628f;
	border: #dadada 1px solid;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 12px;
	text-align: right;
}
a{
	color: #5e78c1;
	text-decoration: none;
}
a:hover{
	color: #b04188;
	text-decoration: underline;
}

@media (max-width: 600px){
	header{
		background-position: 32% 50%;
		border-top: #20567d 5px solid;
	}
	.header-contents{
		min-height: 60px;
		background-size: 40px 40px;
		background-position: 10px 50%;
	}
	.header-contents h1{
		padding: 15px 0 5px 55px;
		font-size: 16px;
	}
	.header-contents h2{
		padding: 0 0 0 55px;
		font-size: 12px;
	}
}